/* Search Bar */
.search-bar {
  flex-direction: row;
}

.search-bar__form {
  max-width: 350px;
}

.search-bar__span {
  text-align: initial;
}

/* Bookshelf */
.bookshelf-container {
  flex-direction: row;
  gap: 1rem;
}

.incomplete-bookshelf,
.complete-bookshelf {
  padding: 1rem;
}

.incomplete-bookshelf {
  padding-right: 0;
}

.complete-bookshelf {
  padding-left: 0;
}
